{% form_theme form 'elements/form_row.html.twig' %}

{{ form_start(form) }}
    <div class="row">
        <div class="col-sm-2">
                {{ form_row(form.balance, {'label' : 'Баланс'}) }}
        </div>
    </div>
    <button class="btn">{{ button_label|default('Send') }}</button>
{{ form_end(form) }}
